<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>Image Classifier</title>
  </head>
<body>
{% block content %}
<h1>HEllo Wolrd</h1>

<div>
<form class="form" enctype="multipart/form-data" action="predict" method="POST">
{% csrf_token %}

<div>
<label> Upload plant Here: </label><input name='filepath' type="file">
</div>

<input type="submit" value="Upload" class="btn btn--main">

</form>
</div>
<div>
<img  src={{filepathName}} >
{% comment %} {{filepathName}} {% endcomment %}

<br>

<h3>your plant's result is: {{ result }}</h3>


</div>

{% endblock content %}
</body>
</html>
